<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbarUser.ejs') %>
<body>
    
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Novo Artigo</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/articles/save">
                <input type="text" name="title" placeholder="Defina o titulo do Artigo" class="form-control">
                <br>
                <textarea class="form-control" name="body" placeholder="Escreva Um Artigo aqui" id="article"></textarea>
                <br>
                <label>Categorias</label>
                <select name="category" class="form-control">
                 <% categories.forEach((category) =>{ %>
                    <option value="<%- category.id %>"><%- category.title %></option>
                 <% }); %>
                </select>
                <br>
                <button type="submit" class="btn btn-success">Cadastrar</button>
                </form>
            </div>

        </div>
    </div>
    
</body>

<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language:'pt_BR',
        selector:"#article",
        plugins:[
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste'
        ]
    })

</script>