<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbaruser.ejs') %>

    
<style>
    .container{
        margin-top:50px;
    }
    .noticias{
        max-width:930px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        display:block;
        margin:0 auto;
        float:left;
        margin:10px;
        border:1px solid gray;
    }
    .card h4{
        text-align: justify;
        border-radius: 10px;
        boder:1px solid black;
    }
    .card-title{
        margin:10px;
    }
    @media(max-width:600px){
        .card{
            float:none;
            margin:0 auto;
            margin-bottom:30px;
        }
    }
</style>
<body>

    <div class="container">
        <div class="row">

        </div>
        <div class="noticias">
        <% result.articles.rows.forEach(article =>{ %>

            <div class="card" style="width: 18rem">
                <div class="card-title">
                    <h4><%- article.title %></h4>
                </div>
                <div class="card-body" >
                    <a href="/<%- article.slug %>" class="btn btn-dark" style="margin-bottom:10px; float:right;">Ler Artigo</a>

                </div>
            </div>
            <br>
        <% }) %>


    </div>
    <br>
    <br>

    <div class="row">
        <div class="col col-12">
            <% if(result.page >= 2){ %>
                <a style="float:left; margin-left: 100px" href="/articles/page/<%= result.page -1 %>"><<< Prev</a>

            <% } %>
                

            <% if(result.next){ %>
            <a style="float:right; margin-right: 100px" href="/articles/page/<%= result.page +1 %>">Next >>></a>
            <% } %>

            <% if(result.page == 1){ %>
                <a style="float:left; margin-left: 100px" href="/"><<< Prev</a>

            <% } %>
        </div>
    </div>
    <br>
</div>

</body>

<%- include('../../partials/footer.ejs') %>