<%- include('partials/header.ejs') %>
<%- include('partials/navbarUser.ejs') %>

    

<body>
    <div class="container" style="margin-top:100px;">

        <div class="card">
            <div class="card-header">
                <h2><%- article.title %></h2>
            </div>

            <div class="card-body">
                <P><%- article.body %></P>
            </div>
        </div>
</div>

</body>

<%- include('partials/footer.ejs') %>